p {
	color: red;
	text-align: center;
}

#cor-preto-esquerda {
	color: black;
	text-align: left;
}

.centro-orange {
	text-align:center;
	color:orange;
}

p.direita{
	text-align:right;
}

p.grande{
	font-size:300%;
}

h1, h2, p {
	border-bottom: 1px solid #d3d3d3;
	
}